<h1 align=center><font size = 5>Chicago Crime Analysis Project with Python and SQL</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **Census**
2.  **Schools**
3.  **Crime**

Load `PrettyTable` module for nice formatting and printing of tables in the terminal.

In [1]:
!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

%config SqlMagic.style = 'DEFAULT'

Requirement already satisfied: ipython-sql in c:\users\gomic\appdata\roaming\python\python312\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\gomic\appdata\roaming\python\python312\site-packages (3.12.0)
Requirement already satisfied: ipython in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.23.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\gomic\appdata\roaming\python\python312\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\gomic\appdata\roaming\python\python312\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\gomic\appdata\roaming\python\python312\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\gomic\appdata\roaming\python\python312\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gomic\appdata\roaming\python\python312\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\gomic\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Load the `pandas` and `sqlite3` libraries and establish a connection to `Final_project_DB.db`

In [2]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Final_project_DB.db')
cursor = conn.cursor()

Load the SQL magic module

In [3]:
%load_ext sql
%sql sqlite:///Final_project_DB.db

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `Final_project_DB.db` as required tables.

In [4]:
url_1 = 'ChicagoCrimeData.csv'
url_2 = 'ChicagoCensusData.csv'
url_3 = 'ChicagoPublicSchools.csv'

df1 = pd.read_csv(url_1)
df2 = pd.read_csv(url_2)
df3 = pd.read_csv(url_3)

Create tables and insert data into the database

In [5]:
df1.columns

Index(['ID', 'CASE_NUMBER', 'DATE', 'IUCR', 'PRIMARY_TYPE', 'DESCRIPTION',
       'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT', 'DISTRICT',
       'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'YEAR'],
      dtype='object')

In [6]:
cursor.execute('DROP TABLE IF EXISTS Crime')
cursor.execute('''
CREATE TABLE IF NOT EXISTS Crime (
    ID INT PRIMARY KEY,
    CASE_NUMBER INTEGER,
    DATE DATE,
    IUCR VARCHAR,
    PRIMARY_TYPE VARCHAR,
    DESCRIPTION VARCHAR,
    LOCATION_DESCRIPTION VARCHAR,
    ARREST VARCHAR,
    DOMESTIC VARCHAR,
    BEAT VARCHAR,
    DISTRICT VARCHAR,
    WARD VARCHAR,
    COMMUNITY_AREA_NUMBER INTEGER,
    FBICODE VARCHAR,
    YEAR VARCHAR
)
''')

In [7]:
row = (
    3512276, 'HK587712', '2004-08-28', '890', 'THEFT', 'FROM BUILDING', 
    'SMALL RETAIL STORE', 'FALSE', 'FALSE', '911', '9', '14', 58, '6', 
    '2004'
)


for index, row in df1.iterrows():
    cursor.execute('''
    INSERT OR REPLACE INTO Crime (
        ID, CASE_NUMBER, DATE, IUCR, PRIMARY_TYPE, DESCRIPTION, LOCATION_DESCRIPTION, 
        ARREST, DOMESTIC, BEAT, DISTRICT, WARD, COMMUNITY_AREA_NUMBER, FBICODE, 
        YEAR
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
''', row)
conn.commit()

C:\Users\gomic\AppData\Local\Temp\ipykernel_320\3541086493.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cursor.execute('''

In [8]:
cursor.execute("PRAGMA table_info(Crime)")
columns = cursor.fetchall()
print(columns)

[(0, 'ID', 'INT', 0, None, 1), (1, 'CASE_NUMBER', 'INTEGER', 0, None, 0), (2, 'DATE', 'DATE', 0, None, 0), (3, 'IUCR', 'VARCHAR', 0, None, 0), (4, 'PRIMARY_TYPE', 'VARCHAR', 0, None, 0), (5, 'DESCRIPTION', 'VARCHAR', 0, None, 0), (6, 'LOCATION_DESCRIPTION', 'VARCHAR', 0, None, 0), (7, 'ARREST', 'VARCHAR', 0, None, 0), (8, 'DOMESTIC', 'VARCHAR', 0, None, 0), (9, 'BEAT', 'VARCHAR', 0, None, 0), (10, 'DISTRICT', 'VARCHAR', 0, None, 0), (11, 'WARD', 'VARCHAR', 0, None, 0), (12, 'COMMUNITY_AREA_NUMBER', 'INTEGER', 0, None, 0), (13, 'FBICODE', 'VARCHAR', 0, None, 0), (14, 'YEAR', 'VARCHAR', 0, None, 0)]

In [9]:
df2.columns

Index(['COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NAME',
       'PERCENT_OF_HOUSING_CROWDED', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY',
       'PERCENT_AGED_16__UNEMPLOYED',
       'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA',
       'PERCENT_AGED_UNDER_18_OR_OVER_64', 'PER_CAPITA_INCOME',
       'HARDSHIP_INDEX'],
      dtype='object')

In [10]:
cursor.execute('DROP TABLE IF EXISTS Census')
cursor.execute('''
CREATE TABLE IF NOT EXISTS Census (
    COMMUNITY_AREA_NUMBER INT PRIMARY KEY,
    COMMUNITY_AREA_NAME INTEGER,
    PERCENT_OF_HOUSING_CROWDED FLOAT,
    PERCENT_HOUSEHOLDS_BELOW_POVERTY FLOAT,	
    PERCENT_AGED_16__UNEMPLOYED	FLOAT,
    PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA FLOAT,	
    PERCENT_AGED_UNDER_18_OR_OVER_64 FLOAT,	
    PER_CAPITA_INCOME INTEGER,	
    HARDSHIP_INDEX INTEGER
)
''')

In [11]:
row2 = (
    1, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5,  23939, 39
)

for index, row2 in df2.iterrows():
    cursor.execute('''
    INSERT OR REPLACE INTO Census (
        COMMUNITY_AREA_NUMBER ,
        COMMUNITY_AREA_NAME ,
        PERCENT_OF_HOUSING_CROWDED ,
        PERCENT_HOUSEHOLDS_BELOW_POVERTY ,	
        PERCENT_AGED_16__UNEMPLOYED	,
        PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA ,	
        PERCENT_AGED_UNDER_18_OR_OVER_64 ,	
        PER_CAPITA_INCOME ,	
        HARDSHIP_INDEX 
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
''', row2)
conn.commit()

C:\Users\gomic\AppData\Local\Temp\ipykernel_320\564022973.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cursor.execute('''

In [12]:
df3.columns

Index(['School_ID', 'NAME_OF_SCHOOL', 'Elementary, Middle, or High School',
       'Street_Address', 'City', 'State', 'ZIP_Code', 'Phone_Number',
       'Network_Manager', 'Collaborative_Name',
       'Adequate_Yearly_Progress_Made_', 'Track_Schedule',
       'CPS_Performance_Policy_Status', 'CPS_Performance_Policy_Level',
       'HEALTHY_SCHOOL_CERTIFIED', 'Safety_Icon', 'SAFETY_SCORE',
       'Family_Involvement_Icon', 'Family_Involvement_Score',
       'Environment_Icon', 'Environment_Score', 'Instruction_Icon',
       'Instruction_Score', 'Leaders_Icon', 'Leaders_Score', 'Teachers_Icon',
       'Teachers_Score', 'Parent_Engagement_Icon', 'Parent_Engagement_Score',
       'Parent_Environment_Icon', 'Parent_Environment_Score',
       'AVERAGE_STUDENT_ATTENDANCE', 'Rate_of_Misconducts__per_100_students_',
       'Average_Teacher_Attendance',
       'Individualized_Education_Program_Compliance_Rate',
       'COLLEGE_ENROLLMENT', 'General_Services_Route', 'COMMUNITY_AREA_NUMBER',
       'COMMUNITY_AREA_NAME', 'Ward', 'Police_District'],
      dtype='object')

In [13]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Schools (
    SCHOOL_ID INT PRIMARY KEY,
    NAME_OF_SCHOOL TEXT,
    SCHOOL_TYPE TEXT,  -- Elementary, Middle, or High School
    STREET_ADDRESS TEXT,
    CITY TEXT,
    STATE TEXT,
    ZIP_CODE TEXT,
    PHONE_NUMBER TEXT,
    NETWORK_MANAGER TEXT,
    COLLABORATIVE_NAME TEXT,
    ADEQUATE_YEARLY_PROGRESS_MADE BOOLEAN,
    TRACK_SCHEDULE TEXT,
    CPS_PERFORMANCE_POLICY_STATUS TEXT,
    CPS_PERFORMANCE_POLICY_LEVEL TEXT,
    HEALTHY_SCHOOL_CERTIFIED BOOLEAN,
    SAFETY_ICON TEXT,
    SAFETY_SCORE INTEGER,
    FAMILY_INVOLVEMENT_ICON TEXT,
    FAMILY_INVOLVEMENT_SCORE INTEGER,
    ENVIRONMENT_ICON TEXT,
    ENVIRONMENT_SCORE INTEGER,
    INSTRUCTION_ICON TEXT,
    INSTRUCTION_SCORE INTEGER,
    LEADERS_ICON TEXT,
    LEADERS_SCORE INTEGER,
    TEACHERS_ICON TEXT,
    TEACHERS_SCORE INTEGER,
    PARENT_ENGAGEMENT_ICON TEXT,
    PARENT_ENGAGEMENT_SCORE INTEGER,
    PARENT_ENVIRONMENT_ICON TEXT,
    PARENT_ENVIRONMENT_SCORE INTEGER,
    AVERAGE_STUDENT_ATTENDANCE FLOAT,
    RATE_OF_MISCONDUCTS_PER_100_STUDENTS FLOAT,
    AVERAGE_TEACHER_ATTENDANCE FLOAT,
    INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE FLOAT,
    COLLEGE_ENROLLMENT FLOAT,
    GENERAL_SERVICES_ROUTE TEXT,
    COMMUNITY_AREA_NUMBER INT,
    COMMUNITY_AREA_NAME TEXT,
    WARD INT,
    POLICE_DISTRICT INT
)
''')

In [14]:
row3 = (610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, 
       '(773) 534-5720', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 
       'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', 99, 
       'Strong', 74, 'Strong', 66, 'Weak', 65, 'Strong', 70, 'Strong', 56, 'Average', 47, 96.00, 2, 
       96.40, 95.80, 813, 33, 7, 'LINCOLN PARK', 43, 18)

for index, row3 in df3.iterrows():
    cursor.execute('''
    INSERT OR REPLACE INTO Schools (
        SCHOOL_ID, NAME_OF_SCHOOL, SCHOOL_TYPE, STREET_ADDRESS, CITY, STATE, ZIP_CODE,
        PHONE_NUMBER, NETWORK_MANAGER, COLLABORATIVE_NAME, ADEQUATE_YEARLY_PROGRESS_MADE,
        TRACK_SCHEDULE, CPS_PERFORMANCE_POLICY_STATUS, CPS_PERFORMANCE_POLICY_LEVEL,
        HEALTHY_SCHOOL_CERTIFIED, SAFETY_ICON, SAFETY_SCORE, FAMILY_INVOLVEMENT_ICON,
        FAMILY_INVOLVEMENT_SCORE, ENVIRONMENT_ICON, ENVIRONMENT_SCORE, INSTRUCTION_ICON,
        INSTRUCTION_SCORE, LEADERS_ICON, LEADERS_SCORE, TEACHERS_ICON, TEACHERS_SCORE,
        PARENT_ENGAGEMENT_ICON, PARENT_ENGAGEMENT_SCORE, PARENT_ENVIRONMENT_ICON,
        PARENT_ENVIRONMENT_SCORE, AVERAGE_STUDENT_ATTENDANCE, RATE_OF_MISCONDUCTS_PER_100_STUDENTS,
        AVERAGE_TEACHER_ATTENDANCE, INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE,
        COLLEGE_ENROLLMENT, GENERAL_SERVICES_ROUTE, COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME,
        WARD, POLICE_DISTRICT
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
''', row3)
    
conn.commit()

C:\Users\gomic\AppData\Local\Temp\ipykernel_320\2009807731.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cursor.execute('''

In [15]:
cursor.execute("PRAGMA table_info(Census)")
columns = cursor.fetchall()
print(columns)

[(0, 'COMMUNITY_AREA_NUMBER', 'INT', 0, None, 1), (1, 'COMMUNITY_AREA_NAME', 'INTEGER', 0, None, 0), (2, 'PERCENT_OF_HOUSING_CROWDED', 'FLOAT', 0, None, 0), (3, 'PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'FLOAT', 0, None, 0), (4, 'PERCENT_AGED_16__UNEMPLOYED', 'FLOAT', 0, None, 0), (5, 'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'FLOAT', 0, None, 0), (6, 'PERCENT_AGED_UNDER_18_OR_OVER_64', 'FLOAT', 0, None, 0), (7, 'PER_CAPITA_INCOME', 'INTEGER', 0, None, 0), (8, 'HARDSHIP_INDEX', 'INTEGER', 0, None, 0)]

In [16]:
cursor.execute("PRAGMA table_info(Schools)")
columns = cursor.fetchall()
print(columns)

[(0, 'SCHOOL_ID', 'INT', 0, None, 1), (1, 'NAME_OF_SCHOOL', 'TEXT', 0, None, 0), (2, 'SCHOOL_TYPE', 'TEXT', 0, None, 0), (3, 'STREET_ADDRESS', 'TEXT', 0, None, 0), (4, 'CITY', 'TEXT', 0, None, 0), (5, 'STATE', 'TEXT', 0, None, 0), (6, 'ZIP_CODE', 'TEXT', 0, None, 0), (7, 'PHONE_NUMBER', 'TEXT', 0, None, 0), (8, 'NETWORK_MANAGER', 'TEXT', 0, None, 0), (9, 'COLLABORATIVE_NAME', 'TEXT', 0, None, 0), (10, 'ADEQUATE_YEARLY_PROGRESS_MADE', 'BOOLEAN', 0, None, 0), (11, 'TRACK_SCHEDULE', 'TEXT', 0, None, 0), (12, 'CPS_PERFORMANCE_POLICY_STATUS', 'TEXT', 0, None, 0), (13, 'CPS_PERFORMANCE_POLICY_LEVEL', 'TEXT', 0, None, 0), (14, 'HEALTHY_SCHOOL_CERTIFIED', 'BOOLEAN', 0, None, 0), (15, 'SAFETY_ICON', 'TEXT', 0, None, 0), (16, 'SAFETY_SCORE', 'INTEGER', 0, None, 0), (17, 'FAMILY_INVOLVEMENT_ICON', 'TEXT', 0, None, 0), (18, 'FAMILY_INVOLVEMENT_SCORE', 'INTEGER', 0, None, 0), (19, 'ENVIRONMENT_ICON', 'TEXT', 0, None, 0), (20, 'ENVIRONMENT_SCORE', 'INTEGER', 0, None, 0), (21, 'INSTRUCTION_ICON', 'TEXT', 0, None, 0), (22, 'INSTRUCTION_SCORE', 'INTEGER', 0, None, 0), (23, 'LEADERS_ICON', 'TEXT', 0, None, 0), (24, 'LEADERS_SCORE', 'INTEGER', 0, None, 0), (25, 'TEACHERS_ICON', 'TEXT', 0, None, 0), (26, 'TEACHERS_SCORE', 'INTEGER', 0, None, 0), (27, 'PARENT_ENGAGEMENT_ICON', 'TEXT', 0, None, 0), (28, 'PARENT_ENGAGEMENT_SCORE', 'INTEGER', 0, None, 0), (29, 'PARENT_ENVIRONMENT_ICON', 'TEXT', 0, None, 0), (30, 'PARENT_ENVIRONMENT_SCORE', 'INTEGER', 0, None, 0), (31, 'AVERAGE_STUDENT_ATTENDANCE', 'FLOAT', 0, None, 0), (32, 'RATE_OF_MISCONDUCTS_PER_100_STUDENTS', 'FLOAT', 0, None, 0), (33, 'AVERAGE_TEACHER_ATTENDANCE', 'FLOAT', 0, None, 0), (34, 'INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'FLOAT', 0, None, 0), (35, 'COLLEGE_ENROLLMENT', 'FLOAT', 0, None, 0), (36, 'GENERAL_SERVICES_ROUTE', 'TEXT', 0, None, 0), (37, 'COMMUNITY_AREA_NUMBER', 'INT', 0, None, 0), (38, 'COMMUNITY_AREA_NAME', 'TEXT', 0, None, 0), (39, 'WARD', 'INT', 0, None, 0), (40, 'POLICE_DISTRICT', 'INT', 0, None, 0)]

In [17]:
cursor.execute("PRAGMA table_info(Crime)")
columns = cursor.fetchall()
print(columns)

[(0, 'ID', 'INT', 0, None, 1), (1, 'CASE_NUMBER', 'INTEGER', 0, None, 0), (2, 'DATE', 'DATE', 0, None, 0), (3, 'IUCR', 'VARCHAR', 0, None, 0), (4, 'PRIMARY_TYPE', 'VARCHAR', 0, None, 0), (5, 'DESCRIPTION', 'VARCHAR', 0, None, 0), (6, 'LOCATION_DESCRIPTION', 'VARCHAR', 0, None, 0), (7, 'ARREST', 'VARCHAR', 0, None, 0), (8, 'DOMESTIC', 'VARCHAR', 0, None, 0), (9, 'BEAT', 'VARCHAR', 0, None, 0), (10, 'DISTRICT', 'VARCHAR', 0, None, 0), (11, 'WARD', 'VARCHAR', 0, None, 0), (12, 'COMMUNITY_AREA_NUMBER', 'INTEGER', 0, None, 0), (13, 'FBICODE', 'VARCHAR', 0, None, 0), (14, 'YEAR', 'VARCHAR', 0, None, 0)]

## Problems



### Problem 1

##### Find the total number of crimes of each type occurred each year

In [18]:
%%sql 
SELECT YEAR, PRIMARY_TYPE, COUNT(*) AS crime_count
FROM Crime
GROUP BY YEAR, PRIMARY_TYPE
ORDER BY YEAR, crime_count DESC;

 * sqlite:///Final_project_DB.db
Done.

[('2001', 'BATTERY', 10),
 ('2001', 'THEFT', 5),
 ('2001', 'DECEPTIVE PRACTICE', 4),
 ('2001', 'PROSTITUTION', 3),
 ('2001', 'NARCOTICS', 3),
 ('2001', 'MOTOR VEHICLE THEFT', 2),
 ('2001', 'CRIMINAL TRESPASS', 2),
 ('2001', 'CRIMINAL DAMAGE', 2),
 ('2001', 'BURGLARY', 2),
 ('2001', 'PUBLIC PEACE VIOLATION', 1),
 ('2001', 'DOMESTIC VIOLENCE', 1),
 ('2001', 'CRIM SEXUAL ASSAULT', 1),
 ('2002', 'BATTERY', 7),
 ('2002', 'THEFT', 5),
 ('2002', 'MOTOR VEHICLE THEFT', 5),
 ('2002', 'ASSAULT', 4),
 ('2002', 'OTHER OFFENSE', 3),
 ('2002', 'CRIMINAL DAMAGE', 3),
 ('2002', 'NARCOTICS', 2),
 ('2002', 'DECEPTIVE PRACTICE', 2),
 ('2002', 'WEAPONS VIOLATION', 1),
 ('2002', 'ROBBERY', 1),
 ('2002', 'PUBLIC PEACE VIOLATION', 1),
 ('2002', 'CRIMINAL TRESPASS', 1),
 ('2002', 'CRIM SEXUAL ASSAULT', 1),
 ('2002', 'BURGLARY', 1),
 ('2003', 'THEFT', 8),
 ('2003', 'BATTERY', 8),
 ('2003', 'CRIMINAL DAMAGE', 6),
 ('2003', 'ROBBERY', 4),
 ('2003', 'NARCOTICS', 4),
 ('2003', 'CRIMINAL TRESPASS', 3),
 ('2003', 'OTHER OFFENSE', 2),
 ('2003', 'MOTOR VEHICLE THEFT', 2),
 ('2003', 'ASSAULT', 2),
 ('2003', 'RITUALISM', 1),
 ('2003', 'DECEPTIVE PRACTICE', 1),
 ('2003', 'BURGLARY', 1),
 ('2004', 'THEFT', 7),
 ('2004', 'BATTERY', 6),
 ('2004', 'NARCOTICS', 4),
 ('2004', 'WEAPONS VIOLATION', 2),
 ('2004', 'OTHER OFFENSE', 2),
 ('2004', 'DECEPTIVE PRACTICE', 2),
 ('2004', 'CRIMINAL DAMAGE', 2),
 ('2004', 'BURGLARY', 2),
 ('2004', 'ASSAULT', 2),
 ('2004', 'SEX OFFENSE', 1),
 ('2004', 'MOTOR VEHICLE THEFT', 1),
 ('2004', 'LIQUOR LAW VIOLATION', 1),
 ('2004', 'CRIM SEXUAL ASSAULT', 1),
 ('2005', 'BATTERY', 9),
 ('2005', 'THEFT', 8),
 ('2005', 'NARCOTICS', 6),
 ('2005', 'CRIMINAL DAMAGE', 4),
 ('2005', 'ASSAULT', 4),
 ('2005', 'ROBBERY', 3),
 ('2005', 'BURGLARY', 3),
 ('2005', 'PUBLIC PEACE VIOLATION', 1),
 ('2005', 'OTHER OFFENSE', 1),
 ('2005', 'MOTOR VEHICLE THEFT', 1),
 ('2005', 'LIQUOR LAW VIOLATION', 1),
 ('2005', 'INTERFERENCE WITH PUBLIC OFFICER', 1),
 ('2005', 'DECEPTIVE PRACTICE', 1),
 ('2005', 'CRIMINAL TRESPASS', 1),
 ('2006', 'CRIMINAL DAMAGE', 6),
 ('2006', 'THEFT', 5),
 ('2006', 'BATTERY', 4),
 ('2006', 'NARCOTICS', 3),
 ('2006', 'MOTOR VEHICLE THEFT', 2),
 ('2006', 'ASSAULT', 2),
 ('2006', 'WEAPONS VIOLATION', 1),
 ('2006', 'ROBBERY', 1),
 ('2006', 'PROSTITUTION', 1),
 ('2006', 'OTHER OFFENSE', 1),
 ('2006', 'OFFENSE INVOLVING CHILDREN', 1),
 ('2006', 'CRIMINAL TRESPASS', 1),
 ('2006', 'BURGLARY', 1),
 ('2006', 'ARSON', 1),
 ('2007', 'NARCOTICS', 9),
 ('2007', 'CRIMINAL DAMAGE', 5),
 ('2007', 'THEFT', 4),
 ('2007', 'BATTERY', 3),
 ('2007', 'OTHER OFFENSE', 2),
 ('2007', 'MOTOR VEHICLE THEFT', 2),
 ('2007', 'DECEPTIVE PRACTICE', 2),
 ('2007', 'ASSAULT', 2),
 ('2007', 'ROBBERY', 1),
 ('2007', 'PROSTITUTION', 1),
 ('2007', 'OFFENSE INVOLVING CHILDREN', 1),
 ('2007', 'KIDNAPPING', 1),
 ('2007', 'INTIMIDATION', 1),
 ('2007', 'CRIMINAL TRESPASS', 1),
 ('2007', 'BURGLARY', 1),
 ('2008', 'BATTERY', 7),
 ('2008', 'THEFT', 3),
 ('2008', 'OTHER OFFENSE', 3),
 ('2008', 'NARCOTICS', 2),
 ('2008', 'ROBBERY', 1),
 ('2008', 'MOTOR VEHICLE THEFT', 1),
 ('2008', 'GAMBLING', 1),
 ('2008', 'CRIMINAL DAMAGE', 1),
 ('2008', 'BURGLARY', 1),
 ('2008', 'ASSAULT', 1),
 ('2009', 'THEFT', 9),
 ('2009', 'BATTERY', 7),
 ('2009', 'NARCOTICS', 5),
 ('2009', 'CRIMINAL DAMAGE', 5),
 ('2009', 'BURGLARY', 5),
 ('2009', 'OTHER OFFENSE', 3),
 ('2009', 'CRIMINAL TRESPASS', 2),
 ('2009', 'SEX OFFENSE', 1),
 ('2009', 'ROBBERY', 1),
 ('2009', 'OFFENSE INVOLVING CHILDREN', 1),
 ('2009', 'MOTOR VEHICLE THEFT', 1),
 ('2009', 'GAMBLING', 1),
 ('2009', 'DECEPTIVE PRACTICE', 1),
 ('2009', 'ASSAULT', 1),
 ('2010', 'THEFT', 8),
 ('2010', 'BATTERY', 5),
 ('2010', 'CRIMINAL DAMAGE', 3),
 ('2010', 'OTHER OFFENSE', 2),
 ('2010', 'NARCOTICS', 2),
 ('2010', 'WEAPONS VIOLATION', 1),
 ('2010', 'ROBBERY', 1),
 ('2010', 'MOTOR VEHICLE THEFT', 1),
 ('2010', 'BURGLARY', 1),
 ('2010', 'ASSAULT', 1),
 ('2011', 'BURGLARY', 5),
 ('2011', 'BATTERY', 5),
 ('2011', 'CRIMINAL DAMAGE', 4),
 ('2011', 'THEFT', 3),
 ('2011', 'NARCOTICS', 2),
 ('2011', 'ASSAULT', 2),
 ('2011', 'SEX OFFENSE', 1),
 ('2011', 'OTHER OFFENSE', 1),
 ('2011', 'OFFENSE INVOLVING CHILDREN', 1),
 ('2011', 'DECEPTIVE PRACTICE', 1),
 ('2012', 'THEFT', 7),
 ('2012', 'NARCOTICS', 5),
 ('2012', 'CRIMINAL DAMAGE', 5),
 ('2012', 'ROBBERY', 3),
 ('2012', 'MOTOR VEHICLE THEFT', 2),
 ('2012', 'BATTERY', 2),
 ('2012', 'ASSAULT', 2),
 ('2012', 'PUBLIC PEACE VIOLATION', 1),
 ('2012', 'PROSTITUTION', 1),
 ('2012', 'CRIMINAL TRESPASS', 1),
 ('2012', 'BURGLARY', 1),
 ('2013', 'NARCOTICS', 4),
 ('2013', 'BURGLARY', 4),
 ('2013', 'BATTERY', 4),
 ('2013', 'ASSAULT', 3),
 ('2013', 'THEFT', 2),
 ('2013', 'WEAPONS VIOLATION', 1),
 ('2013', 'STALKING', 1),
 ('2013', 'ROBBERY', 1),
 ('2013', 'OTHER OFFENSE', 1),
 ('2013', 'HOMICIDE', 1),
 ('2013', 'CRIMINAL TRESPASS', 1),
 ('2013', 'CRIMINAL DAMAGE', 1),
 ('2014', 'THEFT', 10),
 ('2014', 'CRIMINAL DAMAGE', 4),
 ('2014', 'MOTOR VEHICLE THEFT', 2),
 ('2014', 'BATTERY', 2),
 ('2014', 'PUBLIC PEACE VIOLATION', 1),
 ('2014', 'OTHER OFFENSE', 1),
 ('2014', 'OTHER NARCOTIC VIOLATION', 1),
 ('2014', 'NARCOTICS', 1),
 ('2014', 'DECEPTIVE PRACTICE', 1),
 ('2014', 'ASSAULT', 1),
 ('2014', 'ARSON', 1),
 ('2015', 'THEFT', 8),
 ('2015', 'BATTERY', 3),
 ('2015', 'OTHER OFFENSE', 2),
 ('2015', 'NARCOTICS', 2),
 ('2015', 'MOTOR VEHICLE THEFT', 2),
 ('2015', 'DECEPTIVE PRACTICE', 2),
 ('2015', 'CRIMINAL DAMAGE', 2),
 ('2015', 'INTERFERENCE WITH PUBLIC OFFICER', 1),
 ('2015', 'CONCEALED CARRY LICENSE VIOLATION', 1),
 ('2016', 'THEFT', 7),
 ('2016', 'BATTERY', 4),
 ('2016', 'OTHER OFFENSE', 3),
 ('2016', 'CRIMINAL DAMAGE', 3),
 ('2016', 'ASSAULT', 3),
 ('2016', 'PUBLIC INDECENCY', 1),
 ('2016', 'NON-CRIMINAL', 1),
 ('2016', 'NON - CRIMINAL', 1),
 ('2016', 'HUMAN TRAFFICKING', 1),
 ('2016', 'DECEPTIVE PRACTICE', 1),
 ('2016', 'BURGLARY', 1),
 ('2017', 'THEFT', 6),
 ('2017', 'OTHER OFFENSE', 5),
 ('2017', 'BATTERY', 5),
 ('2017', 'ROBBERY', 3),
 ('2017', 'DECEPTIVE PRACTICE', 2),
 ('2017', 'CRIMINAL TRESPASS', 2),
 ('2017', 'CRIMINAL DAMAGE', 2),
 ('2017', 'ASSAULT', 2),
 ('2017', 'NON-CRIMINAL (SUBJECT SPECIFIED)', 1),
 ('2017', 'HOMICIDE', 1),
 ('2017', 'BURGLARY', 1),
 ('2018', 'THEFT', 1),
 ('2018', 'OBSCENITY', 1),
 ('2018', 'BATTERY', 1)]

### Problem 2

##### List the top 5 most common crime types

In [19]:

%%sql 

SELECT PRIMARY_TYPE AS CRIME, COUNT(*) AS COUNT 
FROM Crime 
GROUP BY PRIMARY_TYPE 
ORDER BY COUNT DESC 
LIMIT 5;

 * sqlite:///Final_project_DB.db
Done.

[('THEFT', 106),
 ('BATTERY', 92),
 ('CRIMINAL DAMAGE', 58),
 ('NARCOTICS', 54),
 ('OTHER OFFENSE', 32)]

### Problem 3

##### Compare the poverty rates and crime rates in different areas

In [20]:
%%sql 
SELECT cen.COMMUNITY_AREA_NAME AS COMMUNITY_NAME, COUNT(c.ID) AS CRIME, round(avg(cen.PERCENT_HOUSEHOLDS_BELOW_POVERTY),2) AS POVERTY_RATE
FROM Census cen
JOIN Crime c ON c.COMMUNITY_AREA_NUMBER = cen.COMMUNITY_AREA_NUMBER
GROUP BY cen.COMMUNITY_AREA_NAME
ORDER BY poverty_rate DESC;

 * sqlite:///Final_project_DB.db
Done.

[('Riverdale', 2, 56.5),
 ('Fuller Park', 2, 51.2),
 ('Englewood', 21, 46.6),
 ('North Lawndale', 16, 43.1),
 ('East Garfield Park', 8, 42.4),
 ('West Garfield Park', 10, 41.7),
 ('West Englewood', 12, 34.4),
 ('Humboldt park', 22, 33.9),
 ('Burnside', 1, 33.0),
 ('South Shore', 9, 31.1),
 ('Woodlawn', 8, 30.7),
 ('South Lawndale', 8, 30.7),
 ('South Chicago', 9, 29.8),
 ('Greater Grand Crossing', 11, 29.6),
 ('Douglas', 5, 29.6),
 ('Grand Boulevard', 8, 29.3),
 ('South Deering', 4, 29.2),
 ('New City', 10, 29.0),
 ('Austin', 43, 28.6),
 ('Chicago Lawn', 12, 27.9),
 ('Chatham', 8, 27.8),
 ('Auburn Gresham', 14, 27.6),
 ('West Pullman', 6, 25.9),
 ('Lower West Side', 9, 25.8),
 ('Uptown', 4, 24.0),
 ('Rogers Park', 6, 23.6),
 ('Brighton Park', 10, 23.6),
 ('Gage Park', 7, 23.4),
 ('Kenwood', 4, 21.7),
 ('Pullman', 3, 21.6),
 ('Near West Side', 16, 20.6),
 ('Hermosa', 3, 20.5),
 ('Roseland', 11, 19.8),
 ('East Side', 2, 19.2),
 ('Albany Park', 5, 19.2),
 ('Bridgeport', 1, 18.9),
 ('McKinley Park', 2, 18.7),
 ('Belmont Cragin', 8, 18.7),
 ('Hyde Park', 2, 18.4),
 ('Edgewater', 2, 18.2),
 ('West Ridge', 7, 17.2),
 ('Avalon Park', 4, 17.2),
 ('Hegewisch', 1, 17.1),
 ('Washington Height', 3, 16.9),
 ('Logan Square', 9, 16.8),
 ('West Elsdon', 4, 15.6),
 ("O'Hare", 4, 15.4),
 ('Montclaire', 2, 15.3),
 ('Avondale', 6, 15.3),
 ('West Lawn', 3, 14.9),
 ('West Town', 13, 14.7),
 ('Loop', 7, 14.7),
 ('Near South Side', 1, 13.8),
 ('Morgan Park', 1, 13.2),
 ('Irving Park', 8, 13.1),
 ('Near North Side', 15, 12.9),
 ('Lincoln Park', 5, 12.3),
 ('Portage Park', 5, 11.6),
 ('Calumet Heights', 5, 11.5),
 ('Lake View', 11, 11.4),
 ('Lincoln Square', 3, 10.9),
 ('Dunning', 3, 10.6),
 ('Ashburn', 8, 10.4),
 ('Clearing', 2, 8.9),
 ('Garfield Ridge', 2, 8.8),
 ('Jefferson Park', 2, 8.6),
 ('North Center', 4, 7.5),
 ('Forest Glen', 1, 7.5),
 ('Norwood Park', 3, 5.4),
 ('Beverly', 4, 5.1)]

### Problem 4

##### Examine the relationship between education level (e.g., PERCENT_AGED_25_WITHOUT_HIGH_SCHOOL_DIPLOMA) and crime rates

In [21]:
%%sql 

SELECT cen.COMMUNITY_AREA_NAME AS COMMUNITY_NAME, COUNT(c.ID) AS CRIME_COUNT, round(avg(cen.PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA),2) AS NO_DIPLOMA_RATE
FROM Census cen
JOIN Crime c ON c.COMMUNITY_AREA_NUMBER = cen.COMMUNITY_AREA_NUMBER
GROUP BY cen.COMMUNITY_AREA_NAME
ORDER BY crime_count DESC;

 * sqlite:///Final_project_DB.db
Done.

[('Austin', 43, 24.4),
 ('Humboldt park', 22, 35.4),
 ('Englewood', 21, 28.5),
 ('North Lawndale', 16, 27.6),
 ('Near West Side', 16, 9.6),
 ('Near North Side', 15, 2.5),
 ('Auburn Gresham', 14, 18.5),
 ('West Town', 13, 12.9),
 ('West Englewood', 12, 26.3),
 ('Chicago Lawn', 12, 31.2),
 ('Roseland', 11, 16.9),
 ('Lake View', 11, 2.6),
 ('Greater Grand Crossing', 11, 16.5),
 ('West Garfield Park', 10, 24.5),
 ('New City', 10, 41.5),
 ('Brighton Park', 10, 45.1),
 ('South Shore', 9, 14.0),
 ('South Chicago', 9, 26.6),
 ('Lower West Side', 9, 40.7),
 ('Logan Square', 9, 14.8),
 ('Woodlawn', 8, 16.5),
 ('South Lawndale', 8, 54.8),
 ('Irving Park', 8, 22.4),
 ('Grand Boulevard', 8, 15.9),
 ('East Garfield Park', 8, 21.3),
 ('Chatham', 8, 14.5),
 ('Belmont Cragin', 8, 37.3),
 ('Ashburn', 8, 17.7),
 ('West Ridge', 7, 20.8),
 ('Loop', 7, 3.1),
 ('Gage Park', 7, 51.5),
 ('West Pullman', 6, 20.5),
 ('Rogers Park', 6, 18.2),
 ('Avondale', 6, 24.7),
 ('Portage Park', 5, 19.3),
 ('Lincoln Park', 5, 3.6),
 ('Douglas', 5, 14.3),
 ('Calumet Heights', 5, 11.0),
 ('Albany Park', 5, 32.9),
 ('West Elsdon', 4, 37.0),
 ('Uptown', 4, 11.8),
 ('South Deering', 4, 21.0),
 ("O'Hare", 4, 10.9),
 ('North Center', 4, 4.5),
 ('Kenwood', 4, 11.3),
 ('Beverly', 4, 3.7),
 ('Avalon Park', 4, 10.6),
 ('West Lawn', 3, 33.6),
 ('Washington Height', 3, 13.7),
 ('Pullman', 3, 13.1),
 ('Norwood Park', 3, 11.5),
 ('Lincoln Square', 3, 13.4),
 ('Hermosa', 3, 41.6),
 ('Dunning', 3, 16.2),
 ('Riverdale', 2, 27.5),
 ('Montclaire', 2, 23.5),
 ('McKinley Park', 2, 32.9),
 ('Jefferson Park', 2, 13.4),
 ('Hyde Park', 2, 4.3),
 ('Garfield Ridge', 2, 19.3),
 ('Fuller Park', 2, 26.6),
 ('Edgewater', 2, 9.7),
 ('East Side', 2, 31.9),
 ('Clearing', 2, 18.8),
 ('Near South Side', 1, 7.4),
 ('Morgan Park', 1, 10.8),
 ('Hegewisch', 1, 19.2),
 ('Forest Glen', 1, 4.9),
 ('Burnside', 1, 19.3),
 ('Bridgeport', 1, 22.2)]

### Problem 5

##### List the kind of crimes that were recorded at schools

In [22]:
%%sql 
SELECT DISTINCT PRIMARY_TYPE AS CRIME
FROM crime
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///Final_project_DB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type

In [23]:
%sql select SCHOOL_TYPE, Round(AVG(safety_score),2) AS AVERAGE_SAFETY_SCORE from schools group by SCHOOL_TYPE;

 * sqlite:///Final_project_DB.db
Done.

[('ES', 49.52), ('HS', 49.62), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [24]:
%sql select community_area_name, percent_households_below_poverty from census order by percent_households_below_poverty DESC limit 5;

 * sqlite:///Final_project_DB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [25]:
%%sql
SELECT c.community_area_name, COUNT(*) AS CRIME_PRONE
FROM crime cr
JOIN census c ON cr.community_area_number = c.community_area_number
GROUP BY c.community_area_name
ORDER BY crime_prone DESC
LIMIT 1;

 * sqlite:///Final_project_DB.db
Done.

[('Austin', 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [26]:
%sql select community_area_name from census where hardship_index in (select max(hardship_index) from census);

 * sqlite:///Final_project_DB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [27]:
%%sql 
SELECT ce.community_area_name
FROM census ce 
WHERE ce.community_area_number = (
    SELECT cr.community_area_number
    FROM crime cr
    GROUP BY cr.community_area_number
    ORDER BY COUNT(*) DESC
    LIMIT 1
);

 * sqlite:///Final_project_DB.db
Done.

[('Austin',)]

### Problem 11

##### Examine the relationship between school scores (e.g., LEADERS_SCORE, INSTRUCTION_SCORE) and crime rates

In [28]:
%%sql
SELECT c.COMMUNITY_AREA_NUMBER, 
       COUNT(c.ID) AS crime_count, 
       ROUND( AVG(s.LEADERS_SCORE),2) AS avg_leaders_score, 
       ROUND(AVG(s.INSTRUCTION_SCORE),2) AS avg_instruction_score
FROM Crime c
JOIN Schools s ON c.COMMUNITY_AREA_NUMBER = s.COMMUNITY_AREA_NUMBER
GROUP BY c.COMMUNITY_AREA_NUMBER
ORDER BY crime_count DESC;

 * sqlite:///Final_project_DB.db
Done.

[(25, 989, 13.3, 54.24),
 (68, 357, 24.12, 49.71),
 (23, 286, 20.08, 43.8),
 (24, 260, 39.15, 47.3),
 (29, 256, 21.19, 58.07),
 (28, 256, 17.69, 53.71),
 (30, 176, 32.23, 49.68),
 (67, 156, 14.54, 51.17),
 (49, 143, 26.85, 46.25),
 (71, 140, 39.5, 43.78),
 (61, 130, 33.38, 41.92),
 (6, 121, 13.55, 50.73),
 (69, 110, 23.1, 51.4),
 (8, 105, 2.86, 53.2),
 (27, 104, 35.62, 54.46),
 (31, 99, 19.0, 50.8),
 (22, 99, 18.18, 41.09),
 (19, 96, 21.25, 37.44),
 (66, 84, 35.86, 38.43),
 (43, 81, 25.11, 50.67),
 (58, 80, 36.88, 50.0),
 (26, 80, 27.75, 65.25),
 (44, 72, 20.0, 53.38),
 (16, 72, 33.11, 39.38),
 (63, 70, 45.0, 52.71),
 (70, 64, 33.38, 36.13),
 (42, 64, 20.75, 50.0),
 (38, 64, 17.88, 45.13),
 (46, 63, 24.29, 42.43),
 (2, 63, 46.44, 56.56),
 (53, 60, 18.2, 46.43),
 (35, 55, 34.36, 53.13),
 (14, 40, 23.13, 52.71),
 (1, 36, 26.0, 36.75),
 (15, 35, 18.14, 32.43),
 (7, 35, 35.14, 50.5),
 (48, 30, 29.17, 52.8),
 (39, 28, 15.43, 40.8),
 (5, 28, 25.14, 51.17),
 (3, 28, 26.57, 58.0),
 (73, 27, 11.78, 46.33),
 (21, 24, 27.75, 48.75),
 (10, 24, 22.38, 50.86),
 (17, 18, 31.5, 48.67),
 (72, 16, 0.0, 52.75),
 (51, 16, 38.75, 54.0),
 (50, 15, 21.2, 53.0),
 (4, 15, 25.4, 44.6),
 (77, 12, 18.17, 39.17),
 (65, 12, 29.0, 48.5),
 (62, 12, 23.0, 42.0),
 (45, 12, 31.33, 35.33),
 (20, 12, 13.25, 57.0),
 (56, 10, 33.0, 38.0),
 (52, 10, 45.6, 31.6),
 (64, 8, 66.25, 64.67),
 (59, 8, 26.5, 44.0),
 (54, 8, 0.0, 36.25),
 (41, 8, 0.0, 41.25),
 (32, 7, 0.0, 67.0),
 (75, 5, 18.2, 48.25),
 (60, 5, 22.4, 37.6),
 (76, 4, 0.0, 1.0),
 (37, 4, 10.0, 58.5),
 (11, 4, 31.5, 42.5),
 (33, 3, 59.67, 45.0),
 (12, 3, 40.33, 60.33),
 (55, 2, 46.5, 47.0),
 (18, 2, 44.0, 56.0),
 (47, 1, 0.0, 63.0)]

### Problem 12

##### Examine the relationship between the number of crimes per year and the percent households below poverty rate

In [29]:
%%sql
SELECT c.YEAR,  
       COUNT(*) AS crime_count, 
       ROUND(AVG(cen.PERCENT_HOUSEHOLDS_BELOW_POVERTY),2) AS AVERAGE_POVERTY_RATE
FROM Crime c
JOIN Census cen ON c.COMMUNITY_AREA_NUMBER = cen.COMMUNITY_AREA_NUMBER
GROUP BY c.YEAR;

 * sqlite:///Final_project_DB.db
Done.

[('2001', 1, 27.9),
 ('2002', 29, 25.78),
 ('2003', 42, 24.67),
 ('2004', 33, 24.85),
 ('2005', 44, 25.83),
 ('2006', 30, 22.95),
 ('2007', 36, 23.33),
 ('2008', 21, 21.51),
 ('2009', 43, 26.1),
 ('2010', 25, 24.32),
 ('2011', 25, 26.14),
 ('2012', 30, 23.03),
 ('2013', 24, 30.24),
 ('2014', 25, 25.9),
 ('2015', 23, 25.46),
 ('2016', 26, 23.19),
 ('2017', 30, 27.35),
 ('2018', 3, 15.93)]